<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Verify</title>
</head>
<body>
<h1>Verify</h1>
<div>
    <form method="post" action="/verify" enctype="multipart/form-data">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <input type="text" name="name" placeholder="Name">
        <input type="text" name="surname" placeholder="Surname">
        <input type="text" name="passportNumber" placeholder="Passport number">
        <input type="file" name="passportPhoto" placeholder="Passport photo" accept="image/*">
        <button type="submit">Verify</button>
    </form>
</div>
<div>
    <div th:each="error: ${errors}" th:text="${error.message}"></div>
</div>
</body>
</html>