<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Verify</title>
</head>
<body>
<h1>Verify</h1>
<div>
    <form method="post" action="/verify" enctype="multipart/form-data">
        <input type="text" name="name" placeholder="Name">
        <input type="text" name="surname" placeholder="Surname">
        <input type="text" name="passport_number" placeholder="Passport number">
        <input type="file" name="passport_photo" placeholder="Passport photo" accept="image/*">
        <button type="submit">Verify</button>
    </form>
</div>
</body>
</html>