<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trades</title>
</head>
<body>
    <h1>Trades</h1>
    <a href="/trades/create">Create new trade</a>

    <form action="/trades" method="get">
        <label for="tradeCurrencyId">Trade currency</label>
        <select name="tradeCurrencyId" id="tradeCurrencyId">
            <option value="">All</option>
            <option th:each="currency : ${currencies}" th:value="${currency.id}" th:text="${currency.name}"></option>
        </select>
        <label for="exchangeCurrencyId">Exchange currency</label>
        <select name="exchangeCurrencyId" id="exchangeCurrencyId">
            <option value="">All</option>
            <option th:each="currency : ${currencies}" th:value="${currency.id}" th:text="${currency.name}"></option>
        </select>
        <button type="submit">Filter</button>
    </form>

    <table>
        <tr>
            <th>Trade ID</th>
            <th>Initiator</th>
            <th>Sells/Buys</th>
            <th>Currency 1</th>
            <th>Amount</th>
            <th>Currency 2</th>
            <th>Exchange rate</th>
            <th>Created at</th>
            <th>Go to</th>
        </tr>
        <tr th:each="trade : ${trades}">
            <td th:text="${trade.id}"></td>
            <td th:text="${trade.initiatorUser.username}"></td>
            <td th:text="${trade.isSeller}"></td>
            <td th:text="${trade.tradeCurrency.name}"></td>
            <td th:text="${trade.tradeCurrencyAmount}"></td>
            <td th:text="${trade.exchangeCurrency.name}"></td>
            <td th:text="${trade.exchangeRate}"></td>
            <td th:text="${trade.createdAt.toString()}"></td>
            <td><a th:href="@{'/trades/' + ${trade.id}}">Go to</a></td>
        </tr>
    </table>
</body>
</html>